@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(0.99 0.01 67.74);
  --foreground: oklch(0.34 0.01 7.89);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.34 0.01 7.89);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.34 0.01 7.89);
  --primary: oklch(0.72 0.16 50);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.96 0.02 28.97);
  --secondary-foreground: oklch(0.56 0.13 32.65);
  --muted: oklch(0.97 0.02 44.86);
  --muted-foreground: oklch(0.49 0.05 27.86);
  --accent: oklch(0.83 0.11 57.89);
  --accent-foreground: oklch(0.34 0.01 7.89);
  --destructive: oklch(0.61 0.21 22.21);
  --border: oklch(0.93 0.04 40.57);
  --input: oklch(0.93 0.04 40.57);
  --ring: oklch(0.74 0.16 34.57);
  --chart-1: oklch(0.74 0.16 34.57);
  --chart-2: oklch(0.83 0.11 57.89);
  --chart-3: oklch(0.88 0.08 56.41);
  --chart-4: oklch(0.82 0.11 41.27);
  --chart-5: oklch(0.64 0.13 32.06);
  --sidebar: oklch(0.97 0.02 44.86);
  --sidebar-foreground: oklch(0.34 0.01 7.89);
  --sidebar-primary: oklch(0.74 0.16 34.57);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.83 0.11 57.89);
  --sidebar-accent-foreground: oklch(0.34 0.01 7.89);
  --sidebar-border: oklch(0.93 0.04 40.57);
  --sidebar-ring: oklch(0.74 0.16 34.57);

  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;

  --radius: 0.625rem;

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

.dark {
  --background: oklch(0.26 0.02 351.79);
  --foreground: oklch(0.94 0.01 48.7);
  --card: oklch(0.32 0.02 339.89);
  --card-foreground: oklch(0.94 0.01 48.7);
  --popover: oklch(0.32 0.02 339.89);
  --popover-foreground: oklch(0.94 0.01 48.7);
  --primary: oklch(0.72 0.16 50);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.36 0.02 342.33);
  --secondary-foreground: oklch(0.94 0.01 48.7);
  --muted: oklch(0.32 0.02 339.89);
  --muted-foreground: oklch(0.84 0.02 50.14);
  --accent: oklch(0.83 0.11 57.89);
  --accent-foreground: oklch(0.26 0.02 351.79);
  --destructive: oklch(0.61 0.21 22.21);
  --border: oklch(0.36 0.02 342.33);
  --input: oklch(0.36 0.02 342.33);
  --ring: oklch(0.74 0.16 34.57);
  --chart-1: oklch(0.74 0.16 34.57);
  --chart-2: oklch(0.83 0.11 57.89);
  --chart-3: oklch(0.88 0.08 56.41);
  --chart-4: oklch(0.82 0.11 41.27);
  --chart-5: oklch(0.64 0.13 32.06);
  --sidebar: oklch(0.26 0.02 351.79);
  --sidebar-foreground: oklch(0.94 0.01 48.7);
  --sidebar-primary: oklch(0.74 0.16 34.57);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.83 0.11 57.89);
  --sidebar-accent-foreground: oklch(0.26 0.02 351.79);
  --sidebar-border: oklch(0.36 0.02 342.33);
  --sidebar-ring: oklch(0.74 0.16 34.57);

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .hero-left {
    @apply mx-auto max-w-xl text-center lg:text-left h-[300px] flex flex-col justify-center;
  }
  .hero-btn {
    @apply mt-8 flex justify-center lg:justify-start gap-4;
  }
  .hero-right {
    @apply mt-0 flex w-full items-center justify-center lg:w-1/2;
  }
  .navlinks {
    @apply hidden md:flex items-center gap-x-8 flex-1 justify-center;
  }
  .featured-header {
    @apply mb-20 flex flex-col gap-8 md:flex-row md:justify-between md:items-end;
  }
  .container-xl {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
  }
  .product-header {
    @apply flex flex-col md:flex-row justify-between items-end gap-8 mb-12;
  }
  .filters {
    @apply flex flex-col md:flex-row md:items-center justify-between gap-4 mb-10;
  }
  .admin-main {
    @apply flex-1 p-4 lg:p-8 pt-16 lg:pt-8 w-full max-w-[1600px] mx-auto md:ml-64;
  }
  .sidebar-desktop {
    @apply hidden md:block w-64 border-r border-border bg-card h-screen  fixed top-0 left-0 z-40;
  }
}
